@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProjectManager.WEB.ViewModels.EntityViewModel.EmployeeViewModel
<form method="post" enctype="multipart/form-data">
    <input type="hidden" value="@Model.Email" name="Email" />
    <input type="hidden" value="@Model.FName" name="FName" />
    <input type="hidden" value="@Model.SName" name="SName" />
    <input type="hidden" value="@Model.Patronymic" name="Patronymic" />
    <input type="hidden" value="@Model.Id" name="Id" />
    <span>New password</span>
    <br />
    <input type="password" value="@Model.Password" name="Password" />
    <br />
    <input type="submit" value="Save" />
</form>

